<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <title>{% block title %}{% endblock %}</title>
  {% block cdns %}{% endblock %}

  <style>
    .greet {
      margin: 0 0 auto;
      padding: 7px 16px;
    }
  </style>
  <script>

    // 로그인한 상태이면 사용자 이름 + 로그아웃 버튼만 띄우기
    $(document).ready(function () {
      $.ajax({
        type: "GET",
        url: "/login_check",
        data: {},
        success: function (response) {
          if (response['result'] == 'success') {
            let name = response['id']
            console.log(name)
            $('#user-state').empty()
            let temp_html =
              `<span class="greet" > <i class="far fa-user"></i>   <span style="font-weight: bold; color:#00d67a;">${name}</span>님 환영합니다!</span>
              <button class="button is-light" onclick='signOut()'> 로그아웃 </button>`
            $('#user-state').append(temp_html)

          }
        }
      })
    })

    // 로그아웃
    function signOut() {
      $.removeCookie('mytoken', { path: '/' });
      alert("로그아웃 성공")
      $('#user-info').empty()
      let temp_html =
        `
      <div class="buttons">
            <a class="button is-primary" a href='/sign_up'>
              <strong>회원가입</strong>
            </a>
            <a class="button is-light" a href='/sign_in'> 로그인 </a>
          </div>
      `
      $('#user-info').append(temp_html)
      window.location.href = '/';
    }

  </script>

</head>

<body>
  {% block style %}{% endblock %}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/mainpage">
        <img src="/static/logo.JPG" width="112" height="28" />
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/mainpage"> 일기쓰기 </a>

        <a class="navbar-item" href="/showMyDiary"> 나의일기 </a>

        <a class="navbar-item" href="/showEveryDiary"> 모두의일기 </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <!-- ▽ div 안에 회원가입, 로그인, 로그아웃, 사용자 환영 메시지가 들어감 -->
          <div class="buttons" id="user-state">
          </div>

        </div>
      </div>
    </div>
  </nav>
  {% block body %}{% endblock %}
  {% block script %}{% endblock %}
</body>

</html>