{% extends '/common/common.html' %}
{% block title %}오늘의 메모{% endblock %}

{% block cdns %}
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap bulma -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

		<!-- JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

{% endblock %}


{% block style %}
<style type="text/css">
    .mainbox {
        width : 70%;
        margin: auto;
        margin-top:20px;
    }
    .title {
        display: block;
        font-size: 30px;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .date{
        display: block;
        font-size:20px;
        text-align: center;
        margin-bottom:30px;
    }
    .memo_input{
        width:80%;
        margin-right: 3%;
    }
    .memo_botton{
        width:15%;
    }
    .memo_input_box{
        width:70%;
        margin:auto;
        padding-bottom:10px;
    }
    .memo_content {
        height:45px;
        padding:2.5px;
        padding-left:20px;
    }
    .memos {
        width:70%;
        margin:auto;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .edit_delete_botton{
        height:40px;
        margin-right:10px;
        float:right;
    }
    .memo_text{
        display:inline;
        font-size:20px;
        width:60%;
    }
    .memo_eidt{
        width:80%;
    }

    .write_diary_botton {
        display: block;
        margin:auto;
        padding-top:10px;
        width:70%;
    }
    .diary_input_box{
        width:70%;
        margin:auto;
        padding-bottom:10px;
        display:none;
    }
    .diary_title_input {
        font-size: 15px;
    }
    .diary_comment_input {
        margin-bottom: 10px;

    }

</style>
{% endblock %}


{% block body %}
<div>
    <div class = 'mainbox box'>
        <div class = 'field'>
            <div class="memo_only">
                <div>
                    <h1 class="title">오늘의 메모</h1>
                </div>
                <div>
                    <p class = 'date'><strong>{{date[0]}}일 {{date[1]}}월 {{date[2]}}일</strong></p>
                </div>
                <div class="memo_input_box">
                    <input id ='new_memo'class="input is-focused memo_input" type="text" placeholder="메모를 입력해주세요">
                    <button onclick="appendMemo()" class="button is-info is-light memo_botton">메모하기</button>
                </div>
                <button onclick='diary_wrtie_form()' class="button is-primary write_diary_botton">일기쓰기</button>

            </div>


            <div class="box diary_input_box" id="diary_form">
                <div>
                    <div>
                        <h1 class="title">오늘의 일기</h1>
                        <p class="has-text-centered is-size-4 has-text-weight-bold">{{date[0]}}년 {{date[1]}}월 {{date[2]}}일</p>
                        <span class="block is-size-4"><strong>제목</strong></span>
                        <input class="input mb-4 mt-2" id="diary_title" type="text" placeholder="제목을 입력해주세요">
                        <span class="block is-size-4 yb-6"><strong>내용</strong></span>
                        <textarea class="textarea mt-2 is-medium diary_comment_input" id="diary_content" placeholder="내용을 입력해주세요." rows="11"></textarea>
                        <button onclick='appendDiary("{{date[0]}}{{date[1]}}{{date[2]}}")' class="button is-primary write_diary_botton">일기 저장</button>
                    </div>
                </div>
            </div>

            <div class="memos" id="memos">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    let date_now = '{{date[0]}}{{date[1]}}{{date[2]}}'
    $(document).ready(function () {
    getMemos();
    })
    function getMemos() {
        $("#memos").html("");
        $.ajax({
            type: "get",
            url: "/api/getMemos",
            data: {},
            success: function (response) {
                if (response.result === "success") {
                    ///다른 액션 시에 input박스들 비우기
                    $("#new_memo").val("")
                    let memos_dumps = response['user_memos'];
                    let user_memos = JSON.parse(memos_dumps);
                    for (let i = 0; i<user_memos.length; i++) {
                        show_memos(i,user_memos[i]['content'],user_memos[i]['_id']['$oid']);
                    }
                }
                else if(response.result =='fail'){
                    swal("오류", response['msg'], "error");
                    window.location.replace("/sign_in");
                }
                else {
                    swal("오류", '서버오류', "error");
                }
            }
        })
    };
    function show_memos(memo_num ,memo_content, memo_id) {
        let memo_html = `<div id ='memo${memo_num}'class = 'box memo_content'>
    <p class="memo_text">${memo_content}</p>
    <button onclick='deleteMemo("${memo_id}")' class="button is-danger is-light edit_delete_botton">삭제</button>
    <button onclick='editMemoInput("${memo_id}","${memo_content}",${memo_num})' class="button is-warning is-light edit_delete_botton">수정</button>
</div>`
        $("#memos").append(memo_html)
    }



    function appendMemo() {
        let new_memo = $("#new_memo").val();
        if (new_memo){
            $.ajax({
                type: "POST",
                url: "/api/appendMemo",
                data: {'new_memo': new_memo},
                success: function (response) { // 성공하면
                    if (response["result"] === "success") {
                        getMemos();
                    }
                    else if(response.result =='fail'){
                        swal("오류", response['msg'], "error");
                        window.location.replace("/sign_in");
                    }
                    else {
                        swal("오류", "서버 오류!", "error");
                    }
                }
            })
        }
        else {
            swal("오류", "메모 내용을 입력해주세요", "error");
        }
    }

    function deleteMemo(delete_memo_id) {
        $.ajax({
            type: "POST",
            url: "/api/deleteMemo",
            data: {'delete_memo_id':delete_memo_id},
            success: function (response) {
                if (response["result"] === "success") {
                    getMemos();
                }
                else if(response.result =='fail'){
                    swal("오류", response['msg'], "error");
                    window.location.replace("/sign_in");
                }
                else {
                    swal("오류", "서버 오류!", "error");
                }
            }
        })
    }
    async function editMemoInput(memo_id, memo_content,memo_num) {
        $("#memos").html("");
        $.ajax({
            type: "get",
            url: "/api/getMemos",
            data: {},
            success: function (response) {
                if (response.result === "success") {
                    ///다른 액션 시에 input박스들 비우기
                    $("#new_memo").val("")
                    let memos_dumps = response['user_memos'];
                    let user_memos = JSON.parse(memos_dumps);
                    for (let i = 0; i<user_memos.length; i++) {
                        show_memos(i,user_memos[i]['content'],user_memos[i]['_id']['$oid']);
                    }
                    let edit_html = `<input id='memo_input${memo_num}' class="memo_text is-focused memo_eidt"></input>
                    <button onclick='updateMemo("${memo_id}",${memo_num})' class="button is-link is-light edit_delete_botton">완료</button>`
                    $('#memo'+memo_num).html("");
                    $('#memo'+memo_num).append(edit_html);
                    $('#memo_input'+memo_num).val(memo_content);
                }
                else if(response.result =='fail'){
                    swal("오류", response['msg'], "error");
                    window.location.replace("/sign_in");
                }
                else {
                    swal("오류", '오류발생', "error");
                }
            }
        })
    }
    function updateMemo(update_memo_id,memo_num) {
        let update_memo = $('#memo_input'+memo_num).val()
        $.ajax({
            type: "POST",
            url: "/api/updateMemo",
            data: {'update_memo_id':update_memo_id,'update_memo': update_memo},
            success: function (response) {
                if (response["result"] === "success") {
                    getMemos();
                }
                else if(response.result =='fail'){
                    swal("오류", response['msg'], "error");
                    window.location.replace("/sign_in");
                }
                else {
                    swal("오류","서버 오류!", "error");
                }
            }
        })
    }
    function diary_wrtie_form() {
        $(".diary_input_box").show();
        $(".memo_only").hide();
        $('.new_memo').val('')
    }

    function memo_wrtie_form() {
        $(".diary_input_box").hide();
        $(".memo_only").show();
    }
    function appendDiary(date) {
        let new_diary_title = $('#diary_title').val();
        let new_diary_content = $('#diary_content').val();
        if (new_diary_title && new_diary_content){
            memo_wrtie_form();
            $.ajax({
                type: "POST",
                url: "/api/appendDiary",
                data: {'new_diary_title':new_diary_title,'new_diary_content': new_diary_content,'new_diary_date':date},
                success: function (response) {
                    if (response["result"] === "success") {
                        $('#diary_title').val('');
                        $('#diary_content').val('');
                    }
                    else if(response.result =='fail'){
                        swal("오류", response['msg'], "error");
                        window.location.replace("/sign_in");
                    }
                    else {
                        swal("오류", "서버 오류!", "error");
                    }
                }
            })
        }
        else {
            swal("오류", '제목과 내용을 모두 입력해주세요', "error");
        }
    }
</script>
{% endblock %}

