{% extends '/common/common.html' %} 
{% block title %}{{title}}{% endblock %}
{% block cdns %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{% endblock %}
{% block style %}
<style>
html {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #444;
}

body {
    margin: 0;
    background: #504f4f;
    font-size: 1em;
}

.wrapper {
    margin: 15px auto;
    max-width: 1100px;
}

.container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
    height: 460px;
}

.table-calendar td, .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(7) {
  color: blue;
}

#monthAndYear {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

.modal-card-title {
    font-size: 25px;
    text-align: center;
}
</style>
{% endblock %}
{% block body %}
<div class="wrapper">

    <div class="container-calendar">
        <h3 id="monthAndYear"></h3>
        
        <div class="button-container-calendar">
            <button id="previous" onclick="previous()">&#8249;</button>
            <button id="next" onclick="next()">&#8250;</button>
        </div>
        
        <table class="table-calendar" id="calendar" data-lang="en">
            <thead id="thead-month"></thead>
            <tbody id="calendar-body"></tbody>
        </table>
        
        <div class="footer-container-calendar">
             <label for="month">날짜 이동: </label>
             <select id="month" onchange="jump()">
                 <option value=0>1월</option>
                 <option value=1>2월</option>
                 <option value=2>3월</option>
                 <option value=3>4월</option>
                 <option value=4>5월</option>
                 <option value=5>6월</option>
                 <option value=6>7월</option>
                 <option value=7>8월</option>
                 <option value=8>9월</option>
                 <option value=9>10월</option>
                 <option value=10>11월</option>
                 <option value=11>12월</option>
             </select>
             <select id="year" onchange="jump()"></select>       
        </div>

    </div>
    
    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">{{title}}</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
          </section>
          <footer class="modal-card-foot buttons is-right">
            <button class="button is-success" id="modalModify">수정</button>
            <button class="button is-success" id="modalModifyConfirm">수정완료</button>
            <button class="button is-danger" id="modalDelete">삭제</button>
            <button class="button is-primary" id="modalAdd">일기추가</button>
            <button class="button is-primary" id="modalDiaryAdd">일기작성</button>
            <button class="button is-link" id="modalDiaryLikes">좋아요!</button>
          </footer>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
let title = "{{title}}";
let myId = "{{mytoken['id']}}"

/* 달력 출력 Start */
function generate_year_range(start, end) {
    var years = "";
    for (var year = start; year <= end; year++) {
        years += "<option value='" + year + "'>" + year + "</option>";
    }
    return years;
}

today = new Date();
currentMonth = today.getMonth();
currentYear = today.getFullYear();
selectYear = document.getElementById("year");
selectMonth = document.getElementById("month");


createYear = generate_year_range(1970, 2050);
/** or
 * createYear = generate_year_range( 1970, currentYear );
 */

document.getElementById("year").innerHTML = createYear;

var calendar = document.getElementById("calendar");
var lang = calendar.getAttribute('data-lang');

var months = "";
var days = "";

var monthDefault = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];

var dayDefault = ["일", "월", "화", "수", "목", "금", "토"];

if (lang == "en") {
    months = monthDefault;
    days = dayDefault;
} else if (lang == "id") {
    months = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];
    days = ["Ming", "Sen", "Sel", "Rab", "Kam", "Jum", "Sab"];
} else if (lang == "fr") {
    months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"];
    days = ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"];
} else {
    months = monthDefault;
    days = dayDefault;
}


var $dataHead = "<tr>";
for (dhead in days) {
    $dataHead += "<th data-days='" + days[dhead] + "'>" + days[dhead] + "</th>";
}
$dataHead += "</tr>";


document.getElementById("thead-month").innerHTML = $dataHead;


monthAndYear = document.getElementById("monthAndYear");
showCalendar(currentMonth, currentYear);



function next() {
    currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
    currentMonth = (currentMonth + 1) % 12;
    showCalendar(currentMonth, currentYear);
}

function previous() {
    currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
    currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
    showCalendar(currentMonth, currentYear);
}

function jump() {
    currentYear = parseInt(selectYear.value);
    currentMonth = parseInt(selectMonth.value);
    showCalendar(currentMonth, currentYear);
}

function showCalendar(month, year) {

    var firstDay = ( new Date( year, month ) ).getDay();

    tbl = document.getElementById("calendar-body");

    
    tbl.innerHTML = "";

    
    monthAndYear.innerHTML = months[month] + " " + year + "년";
    selectYear.value = year;
    selectMonth.value = month;

    // creating all cells
    var date = 1;
    for ( var i = 0; i < 6; i++ ) {
        
        var row = document.createElement("tr");

        
        for ( var j = 0; j < 7; j++ ) {
            if ( i === 0 && j < firstDay ) {
                cell = document.createElement( "td" );
                cellText = document.createTextNode("");
                cell.appendChild(cellText);
                row.appendChild(cell);
            } else if (date > daysInMonth(month, year)) {
                break;
            } else {
                cell = document.createElement("td");
                cell.setAttribute("data-date", date);
                cell.setAttribute("data-month", month + 1);
                cell.setAttribute("data-year", year);
                cell.setAttribute("data-month_name", months[month]);
                cell.setAttribute("data-target", "modal-js-example");
                cell.className = "date-picker js-modal-trigger";
                cell.innerHTML = "<span>" + date + "</span>";

                if ( date === today.getDate() && year === today.getFullYear() && month === today.getMonth() ) {
                    cell.className = "date-picker selected js-modal-trigger";
                }
                row.appendChild(cell);
                date++;
            }
        
        }

        tbl.appendChild(row);
    }

}

function daysInMonth(iMonth, iYear) {
    return 32 - new Date(iYear, iMonth, 32).getDate();
}
/* 달력 출력 End */

/* 달력 이벤트 start */
// 선택한 달력 날짜
let date = "";
let month = "";
let year = "";

// 달력 클릭이벤트
$(document).on('click', '.date-picker', function() {
    date = $(this).attr("data-date");
    month = $(this).attr("data-month");
    year = $(this).attr("data-year");
    date = (date * 1) < 10 ? "0" + date : date;
    month = (month * 1) < 10 ? "0" + month : month;
    
    $("#modal").addClass('is-active');


    // 일기정보 가져오기
    $(".modal-card-body").html("");

    if(title == "나의 일기") {
        $.ajax({
            type: "GET",
            url: "/api/getDiary",
            data: {"get_diary_date" : year + month + date},
            success: function(response) {
                if (response["result"] === "success") {
                    let diaryList = JSON.parse(response["get_diary_list"])
                    $(".modal-card-body").append(`<p class="has-text-centered is-size-4 has-text-weight-bold">${year}년 ${month}월 ${date}일</p>`);
                    if(diaryList.length == 0) {
                        $(".modal-card-body").append(`<p class="has-text-centered is-size-5 mt-6 mb-6">작성한 일기가 없습니다.</p>`);
                        return;
                    }
                    diaryList.forEach(element => {
                        showMyDiary(element.user, element.title, element.likes, element.content,element['_id']['$oid']);
                    });
                    
                }else if(response.result =='fail'){
                        swal("토큰 오류", response['msg'], "error");
                        window.location.replace("/sign_in");
                } else {
                    swal("토큰 오류", "서버 오류!", "error");
                }
            }
        });
    } else {
        $.ajax({
            type: "GET",
            url: "/api/getEveryDiary",
            data: {"get_diary_date" : year + month + date},
            success: function(response) {
                if (response["result"] === "success") {
                    let diaryList = JSON.parse(response["get_diary_list"])
                    $(".modal-card-body").append(`<p class="has-text-centered is-size-4 has-text-weight-bold">${year}년 ${month}월 ${date}일</p>`);
                    if(diaryList.length == 0) {
                        $(".modal-card-body").append(`<p class="has-text-centered is-size-5 mt-6 mb-6">작성한 일기가 없습니다.</p>`);
                        return;
                    }
                    diaryList.forEach(element => {
                        showMyDiary(element.user, element.title, element.likes, element.content,element['_id']['$oid']);
                    });
                }else if(response.result =='fail'){
                    swal("오류", response['msg'], "error").then(function() {
                        window.location.replace("/sign_in");
                    });
                } else {
                    swal("오류", "서버 오류!", "error");
                }
            }
        });
    }

    //modal 버튼 제어
    modalButtonControl("date-pickerClick");
});

// 모달창 닫기
$(document).on('click','.delete', function() {
    $("#modal").removeClass('is-active');
});

// 일기 수정 버튼 클릭
$(document).on('click','#modalModify', function() {
    $("#modalDiaryTitle").attr("disabled", false);
    $("#modalDiaryContent").attr("disabled", false);

    //modal 버튼 제어
    modalButtonControl("modalModifyConfirmClick");
});

// 일기추가 버튼 클릭
$(document).on('click','#modalAdd', function() {
    // 모달 일기 작성 html
    let writeDiaryhtml = `
    <p class="has-text-centered is-size-4 has-text-weight-bold">${year}년 ${month}월 ${date}일</p>
    <span class="block is-size-4"><strong>제목</strong></span>
    <input class="input mb-4 mt-2" id="modalDiaryTitle" type="text" placeholder="제목을 입력해주세요">
    <span class="block is-size-4 yb-6"><strong>내용</strong></span>
    <textarea class="textarea mt-2 is-medium" id="modalDiaryContent" placeholder="내용을 입력해주세요." rows="11"></textarea>
    `;

    $(".modal-card-body").html("");
    $(".modal-card-body").html(writeDiaryhtml);
    
    //modal 버튼 제어
    modalButtonControl("modalAddClick"); 
});

// 일기작성 버튼 클릭
$(document).on('click','#modalDiaryAdd', function() {
    let new_diary_title = $("#modalDiaryTitle").val();
    let new_diary_content = $("#modalDiaryContent").val();
    let new_diary_date = year + month + date;

    $.ajax({
        type: "POST",
        url: "/api/appendDiary",
        data: {'new_diary_title':new_diary_title,'new_diary_content': new_diary_content,'new_diary_date':new_diary_date},
        success: function (response) {
            if (response["result"] === "success") {
                swal("성공", "일기가 추가되었습니다.", "success").then(function() {
                    if(title == "나의 일기") {
                        window.location.replace("/showMyDiary");
                    } else {
                        window.location.replace("/showEveryDiary");
                    }
                });
            } else if(response.result =='fail'){
                swal("오류", response['msg'], "error").then(function() {
                    window.location.replace("/sign_in");
                });
            } else {
                swal("오류", "서버 오류!", "error");
            }
        }
    })
});

// 일기수정완료 버튼 클릭
$(document).on('click','#modalModifyConfirm', function() {
    let diaryId = $("#diaryHiddenId").val();
    let diaryTitle = $("#modalDiaryTitle").val();
    let diaryContent = $("#modalDiaryContent").val();

    $.ajax({
        type: "POST",
        url: "/api/updateDiary",
        data: {"update_diary_id" : diaryId, "update_diary_title" : diaryTitle, "update_diary_content" : diaryContent},
        success: function(response) {
            if(response["result"] == "success") {
                swal("성공", "수정이 완료되었습니다.", "success").then(function() {
                    if(title == "나의 일기") {
                        window.location.replace("/showMyDiary");
                    } else {
                        window.location.replace("/showEveryDiary");
                    }
                });
            } else if(response.result =='fail'){
                swal("오류", response['msg'], "error").then(function() {
                    window.location.replace("/sign_in");
                });
            } else {
                swal("오류", "서버 오류!", "error");
            }
        }
    });
});

// 일기삭제버튼 클릭
$(document).on('click','#modalDelete', function() {
    let diaryId = $("#diaryHiddenId").val();

    $.ajax({
        type: "POST",
        url: "/api/deleteDiary",
        data: {"delete_diary_id" : diaryId},
        success: function(response) {
            if(response["result"] == "success") {
                swal("성공", "삭제가 완료되었습니다.", "success").then(function() {
                    if(title == "나의 일기") {
                        window.location.replace("/showMyDiary");
                    } else {
                        window.location.replace("/showEveryDiary");
                    }
                });
            } else if(response.result =='fail'){
                swal("오류", response['msg'], "error").then(function() {
                    window.location.replace("/sign_in");
                });
            } else {
                swal("오류", "서버 오류!", "error");
            }
        }
    });
});

// 일기 리스트에서 일기 클릭 이벤트
$(document).on('click','.modalDiary', function() {
    // 모달 일기 작성 html
    let id = $(this).attr('id');
    let writer = $(this).find("#writer").text().split(" : ")[1];
    let title = $(this).find("#title").text().split(" : ")[1];
    let content = $(this).find("input").val();
    let likes = $(this).find("#likes").text();

    let writeDiaryhtml = `
    <input type="hidden" value="${id}" id="diaryHiddenId"/>
    <p class="has-text-centered is-size-4 has-text-weight-bold" id="date">${year}년 ${month}월 ${date}일</p>
    <span class="block is-size-4"><strong>제목</strong></span>
    <input class="input mb-4 mt-2" id="modalDiaryTitle" type="text" value="${title}" disabled>
    <span class="block is-size-4 yb-6"><strong>내용</strong></span>
    <textarea class="textarea mt-2 is-medium" id="modalDiaryContent" rows="10" disabled>${content}</textarea>
    `;

    $(".modal-card-body").html("");
    $(".modal-card-body").html(writeDiaryhtml);
    
    //modal 버튼 제어
    if(writer != myId) {
        modalButtonControl("modalNotMyDiaryClick");
    } else {
        modalButtonControl("modalDiaryClick");
    }
    
});

function modalButtonControl(flag) {
    if(flag == "date-pickerClick") {
        $("#modalModify").css("display", "none");
        $("#modalModifyConfirm").css("display", "none");
        $("#modalDelete").css("display", "none");
        $("#modalDiaryAdd").css("display", "none");
        $("#modalAdd").css("display", "block");
        $("#modalDiaryLikes").css("display", "none");
        return;
    }

    if(flag == "modalModifyConfirmClick") {
        $("#modalModify").css("display", "none");
        $("#modalModifyConfirm").css("display", "block");
        $("#modalDelete").css("display", "none");
        $("#modalDiaryAdd").css("display", "none");
        $("#modalAdd").css("display", "none");
        $("#modalDiaryLikes").css("display", "none");
        return;
    }

    if(flag == "modalAddClick") {
        $("#modalModify").css("display", "none");
        $("#modalModifyConfirm").css("display", "none");
        $("#modalDelete").css("display", "none");
        $("#modalDiaryAdd").css("display", "block");
        $("#modalAdd").css("display", "none");
        $("#modalDiaryLikes").css("display", "none");
        return;
    }

    if(flag == "modalDiaryClick") {
        $("#modalModify").css("display", "block");
        $("#modalModifyConfirm").css("display", "none");
        $("#modalDelete").css("display", "block");
        $("#modalDiaryAdd").css("display", "none");
        $("#modalAdd").css("display", "none");
        $("#modalDiaryLikes").css("display", "none");
        return;
    }

    if(flag == "modalNotMyDiaryClick") {
        $("#modalModify").css("display", "none");
        $("#modalModifyConfirm").css("display", "none");
        $("#modalDelete").css("display", "none");
        $("#modalDiaryAdd").css("display", "none");
        $("#modalAdd").css("display", "none");
        $("#modalDiaryLikes").css("display", "block");
        return;
    }
}
/* 달력 이벤트 end */

/* html 생성부 */
function showMyDiary(diary_writer, diary_title, diary_likes, diary_content, diary_id) {
        // 모달 일기 리스트 html
        let getDiaryListhtml = `
        <div class="card mb-4 modalDiary" id="${diary_id}">
            <div class="card-content">
                <div class="content">
                    <p id="writer">작성자 : ${diary_writer}</p>
                    <p>
                        <span id="title">제목 : ${diary_title}</span>&nbsp&nbsp&nbsp&nbsp
                        <span class="icon-text">
                            <span class="icon">
                                <i class="far fa-thumbs-up"></i>
                            </span>
                            <span id="likes">${diary_likes}</span>
                        </span>
                        <input type="hidden" value="${diary_content}">
                    </p> 
                </div>
            </div>
        </div>
    `

    $(".modal-card-body").append(getDiaryListhtml);
}
</script>
{% endblock %}