<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정글다이어리 | 회원가입 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>


    <style>
        .wrap {
            width: 500px;
            margin-top: 100px;
            margin: auto;
        }

        .field {
            width: inherit;
        }
    </style>

    <script>

        function sign_up() {

            let username = $("#userid").val()
            let password = $("#pwd").val()
            let password_chck = $("#pwd_chck").val()

            if (username == "") {
                alert('아이디를 입력하세요!')
                $("#input-username").focus()
                return;
            }

            if (password == "") {
                alert('비밀번호를 입력하세요!')
                $("#input-password").focus()
                return;
            }

            if (password != password_chck) {
                alert('비밀번호가 일치하지 않습니다')
                $("#pwd_chck").focus()
                return;
            }
            

            $.ajax({
                type: "POST",
                url: "/signup",
                data: {
                    new_name_give: username,
                    new_pwd_give: password
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg']
                        console.log(msg)
                        window.location.reload();
                    } 
                    else {
                        let msg = response['msg']
                        alert(msg)
                    }
                }
            });
        }

    </script>


</head>

<body>

    <h1 class="title">회원가입</h1>

    <div class="wrap">

        <div class="field">
            <div class="control">
                <input class="input is-danger" id="userid" type="text" placeholder="이름을 입력하세요">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-danger" id="pwd" type="password" placeholder="비밀번호를 입력하세요">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-danger" id="pwd_chck" type="password" placeholder="비밀번호 확인">
            </div>
        </div>

        <!-- 이 부분은 시간이 있으면 
        <div class="field">
            <div class="control">
                <div class="select">
                    <select>
                        <option>비밀번호 확인 질문 선택</option>
                        <option>With options</option>
                        <option>With options</option>
                        <option>With options</option>
                        <option>With options</option>
                        <option>With options</option>
                    </select>
                </div>
            </div>
        </div> -->

        <!-- 이 부분은 시간이 있으면
        <div class="field">
            <div class="control">
                <input class="input is-danger" type="text" placeholder="질문에 대한 답변을 입력해주세요">
            </div>
        </div> -->

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" onclick="sign_up()">회원가입</button>
            </div>
        </div>
    </div>

</body>

</html>