<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정글다이어리 | 회원가입 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">


    <style>
        .wrap {
            margin-top: 100px;
            margin: auto;
        }
        .field {
            width: 500px;
        } 
    </style>

    <script>

    </script>


</head>

<body>


<div class="wrap">
    
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="text" placeholder="이름을 입력하세요">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </div>
    
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="password" placeholder="비밀번호를 입력하세요">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
        </div>
    
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="password" placeholder="비밀번호 확인">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
        </div>
    
        <div class="field">
            <div class="control">
                <div class="select">
                    <select>
                        <option >비밀번호 확인 질문 선택</option>
                        <option>With options</option>
                        <option>With options</option>
                        <option>With options</option>
                        <option>With options</option>
                        <option>With options</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="password" placeholder="질문에 대한 답변을 입력해주세요">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
        </div>
    
        <div class="field is-grouped">
            <div class="control">
                <!-- 회원가입 버튼을 누르면 로그인 페이지로 -->
                <button class="button is-link" onclick="location.href='log_in.html'">회원가입</button>
            </div>
        </div>
</div>

</body>

</html>